.airport__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border: 1px solid transparent;
    transition: var(--transition);
    color:black;
    border-radius: 1rem;

}
.airport__container > div:hover{
    background: linear-gradient(90deg, transparent 25%,  rgb(46, 71, 194)  75%, rgba(68, 9, 145, 0.719) 99%);
    border-color: var(--color-primary-variant);
    cursor: default;

}

.airport__container > div > h2 h5 {
    color:var(--color-bg-variant);
    transition: var(--transition);

}
.airport__content{
    display: flex;
    margin-bottom: 1rem;

}

.airport__details{
    display:flex;
    gap: 1rem;
    margin-right: 10px;

}
.airport__details-icon{
    margin-top: 6px;
    color: var(--color-primary);

}
.airport__address{
    display: flex;
    flex-direction: column-reverse;
    
}
.airport__website{
    display: flex;
}
h5, h2{
    color: skyblue;

}
a {
    text-decoration: none;

}
.form-control__search{
    margin-right: 10px;
    margin-top: 10px;
}
.title__website{
    margin-right: 10px;
}
/* Media Queries for medium devices*/
@media screen and (max-width: 1024px){
    .airport__container{
        grid-template-columns: 1fr;
        flex-direction: column;
    }
    .airport__container > div {
        padding: 2rem;

    }
    .airport__content{
        padding: 1rem;

    }
    .airport__details{
        flex-direction: column;

    }
    .airport__website {
        display: flex;
        flex-direction: column;
    
    }

}

/* Media Queries for small devices*/
@media screen and (max-width: 600px){
    .airport__container{
        gap: 1rem;

    }
    .airport__container > div {
        width: 100%;
        padding: 2rem 1rem;
        
    }
    .airport__details{
        flex-direction: column;
        
    }
    .airport__website {
        display: flex;
        flex-direction: column;
    }
    
}