.formplace{
    display:flex;

}
.search{
    margin-left: 10px;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(21,43,149,1) 25%, rgb(46, 141, 160) 55%,
                                       rgb(56, 239, 245) 70%, rgba(255,255,255,1) 85%);
}
a{
    color: var(--color-primary); 
    transition: var(--transition);
    text-decoration: none;
}
a:hover{
    color: var(--color-white);
}
